* {
    margin: 0px;
    padding-block: 0px;
}

.titleh1 {
    color: #8f9593;
    font-family: ui-monospace;
    font-size: 40px;
    padding: 0 10px;
}

/* .horizontal-line {
    border: none;
    background: linear-gradient(to right, orange 50%, blue 50%);
} */
.horizontal-line {
    margin: 0;
    border: none;
    background: linear-gradient(to right, orange, blue);
}

hr:not([size]) {
    height: 3px;
}

.box{
    max-width: 1100px;
    margin: 0 auto;
    border-radius: 7px;
    border-style: solid;
    border-width: 2px;
    border-color: #e7ebea;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lableAdd{
    font-size: 18px;
    color: #5f6468;
    margin-left: 50px;
}

.viewimg {
    height: 200px;
    width: 250px;
    border-radius: 5px;
}
.textarea-lg {
    min-width: 259px;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    line-height: 1.5;
    border: solid;
    border-width: 2px;
  }
  .checkbox{
    height: 35px;
    border-color: black;
    border-width: 2px;
    width: 35px;
  }